libzombone_engine.la
*.o
*.a
*.tar.gz
*.log
*.scan
*.cache
*.in~
*.m4
*.gcno
*.gcda
*.gcov
*_test
*.lo
stamp-h1
build/
makefile
makefile.in
config.hpp
config.status
.deps
install-sh
missing
compile
depcomp
.dirstamp
tests/testsuite
tests/testsuite.dir
atlocal
atconfig
zombone_test
engine_test
engine_*_test
objectFileFactory_*_test
objectFileFactory_test
scene_manager_test
scene_manager_*_test
src/config.h
sounds
*.wav
config.guess
config.sub
config.guess~
config.sub~
configure~
configure
.libs
compile_commands.json
libtool
ltmain.sh
zombone_engine.hpp
doxygen.stamp
html/
